force-app/main/default/flows/Xero_Orphan_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Martin_of_orphan</name>
        <label>: Notify Martin of orphan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0MLSk0000001B4fOAE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Unmatched Xero deposit</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>No matching Trust ID. AccountNumber on Xero: {!$Record.ULBC_Xero_AccountNumber_Seen__c}. Open the Opportunity to assign a donor.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>Set_recipient</name>
        <label>Set recipient</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>005Sk00000YKEHqIAP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_Martin_of_orphan</targetReference>
        </connector>
    </assignments>
    <description>Notifies Martin when ULBC_XeroIncomeImporter creates an Opportunity with no matching Salesforce Contact (orphan)</description>
    <environments>Default</environments>
    <interviewLabel>Xero Orphan Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Xero Orphan Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_recipient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ULBC_Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Xero Import</stringValue>
            </value>
        </filters>
        <filters>
            <field>npe01__Contact_Id_for_Role__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
